# Reading Data From various Sources.....

# Reading Jason File..

What is a JSON file?

JSON (JavaScript Object Notation) is a data format used to store and exchange data between systems.

It is:

Lightweight and easy to read (for humans and computers)

Structured using key-value pairs (like Python dictionaries)

Commonly used for APIs, configurations, and data storage.

What does a JSON file look like?

In [145]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [146]:
data = '''
[
  { "Name": "Ali","Age": 25,"City": "Lahore"},
  {"Name": "Sara","Age": 30,"City": "Karachi"}
]
'''

In [147]:
data

'\n[\n  { "Name": "Ali","Age": 25,"City": "Lahore"},\n  {"Name": "Sara","Age": 30,"City": "Karachi"}\n]\n'

In [148]:
df = pd.read_json(data)

In [149]:
df

   Name  Age     City
0   Ali   25   Lahore
1  Sara   30  Karachi

In [150]:

json_data = '''
[
  {"Name": "Ali", "Age": 25, "City": "Lahore"},
  {"Name": "Sara", "Age": 30, "City": "Karachi"}
]
'''


df = pd.read_json(json_data)

print(df)

   Name  Age     City
0   Ali   25   Lahore
1  Sara   30  Karachi

In [151]:



json_data = '''
[
  {"employee_name": "James", "email": "james@gmail.com", "job_profile": "Team Lead"},
  {"employee_name": "Michael", "email": "michael@gmail.com", "job_profile": "Senior Developer"}
]
'''
df = pd.read_json(json_data)
print(df)

  employee_name              email       job_profile
0         James    james@gmail.com         Team Lead
1       Michael  michael@gmail.com  Senior Developer

In [152]:
# conerting this back to json

df.to_json()

'{"employee_name":{"0":"James","1":"Michael"},"email":{"0":"james@gmail.com","1":"michael@gmail.com"},"job_profile":{"0":"Team Lead","1":"Senior Developer"}}'

In [153]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":"Team Lead"},"1":{"employee_name":"Michael","email":"michael@gmail.com","job_profile":"Senior Developer"}}'

In [154]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":"Team Lead"},{"employee_name":"Michael","email":"michael@gmail.com","job_profile":"Senior Developer"}]'

# Reading Data From URl.....

In [155]:
df1 = pd.read_csv("https://raw.githubusercontent.com/shrikant-temburwar/Wine-Quality-Dataset/refs/heads/master/winequality-red.csv",sep=';')
# header = None will gives 0,1,2,3 for each column like indexes for rows.

In [156]:
df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [157]:
df.to_csv('Wine.csv')

# Reading HTML file.

In [158]:
!pip install lxml

Requirement already satisfied: lxml in f:\data analysis with python\myenv\lib\site-packages (6.0.0)

In [159]:
# Example:01
url = "https://www.fdic.gov/bank-failures/failed-bank-list"

In [160]:
df =pd.read_html(url)

In [161]:
df

[                               Bank Name           City         State   Cert  \
 0           The Santa Anna National Bank     Santa Anna         Texas   5520
 1                   Pulaski Savings Bank        Chicago      Illinois  28611
 2     The First National Bank of Lindsay        Lindsay      Oklahoma   4134
 3  Republic First Bank dba Republic Bank   Philadelphia  Pennsylvania  27332
 4                          Citizens Bank       Sac City          Iowa   8758
 5               Heartland Tri-State Bank        Elkhart        Kansas  25851
 6                    First Republic Bank  San Francisco    California  59017
 7                         Signature Bank       New York      New York  57053
 8                    Silicon Valley Bank    Santa Clara    California  24735
 9                      Almena State Bank         Almena        Kansas  15426

                  Acquiring Institution      Closing Date  Fund  Sort ascending
 0            Coleman County State Bank     June 27, 2025                 10549
 1                      Millennium Bank  January 17, 2025                 10548
 2   First Bank & Trust Co., Duncan, OK  October 18, 2024                 10547
 3    Fulton Bank, National Association    April 26, 2024                 10546
 4            Iowa Trust & Savings Bank  November 3, 2023                 10545
 5               Dream First Bank, N.A.     July 28, 2023                 10544
 6            JPMorgan Chase Bank, N.A.       May 1, 2023                 10543
 7                  Flagstar Bank, N.A.    March 12, 2023                 10540
 8  First Citizens Bank & Trust Company    March 10, 2023                 10539
 9                          Equity Bank  October 23, 2020                 10538  ]

In [162]:
df[0].head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [163]:
# Example : 02

url1 = "https://en.wikipedia.org/wiki/Mobile_country_code"

In [164]:
df1 = pd.read_html(url1,match='Country',header=0)

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

Pandas will only extract the table(s) that contain the word 'Country' in their text (either in the header or data).

If there are multiple tables in the HTML page, match helps you pick the correct one.

| Parameter  | Purpose                                   | Example Use       |
| ---------- | ----------------------------------------- | ----------------- |
| `match`    | Selects only tables **containing a word** | `match='Country'` |
| `header=0` | Uses **first row as column names**        | `header=0`        |

# Why is header important?

HTML tables sometimes have extra header rows (like titles or notes).

Specifying header=0 tells pandas to:

Skip any titles

Use the first row of the actual table as column names

In [ ]:
df1 # Gives the list of the dataframes.

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [ ]:
df1[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

# Reading Excel Data.

In [ ]:
df2 = pd.read_excel('Flight_price.xlsx')

In [ ]:
df2.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

# Creating a pickle file.

# What is Pickle?

Pickle is like saving your Python objects into a file so you can use them later.

It converts Python objects into a special format (binary) and saves them to a file.

Later, you can load them back exactly as they were.

# Why use Pickle?

Imagine you have a DataFrame, list, dictionary, or machine learning model.

You don't want to create it again and again.

So, you save it using Pickle.

Later, you can load it back instantly, even after closing your program.

# What is a Python Object?
In simple words:

A Python object is anything you create or use in Python.

| Example                | Python Object |
| ---------------------- | ------------- |
| `list`                 | ✅ Object      |
| `dict`                 | ✅ Object      |
| `DataFrame` (pandas)   | ✅ Object      |
| `int`, `float`, `str`  | ✅ Objects     |
| A trained **ML model** | ✅ Object      |
| A **function**         | ✅ Object      |
| A **class instance**   | ✅ Object      |

In [ ]:
df2.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
df2.to_pickle('df2') # Creating Pickle file..

In [166]:
# reading pickle file...

pd.read_pickle('df2')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753